* {
        margin: 0%;
         border: 0%;
    }

body {

    .flex {
        display: flex;
    }

    h1 {
        font-size: 80px;
        font-weight: 800;
    }

    h4 {
        color: white;
        font-size: 30px;
        font-weight: 300;
        font-style: italic;
    }

    
    
    

    // PAGINA DE INDEX


    // PAGINA DE NOSOTROS



    // PAGINA DE PROYECTOS

 
}


