/* PRINCIPAL SECCION - ESTILOS */

.principal-section-index {
    background-image: url(/root/img/greenhouse-g5560a519c_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
    

    .container-principal {
        flex-direction: column;
        justify-content: center;
        background-color: rgba(191, 243, 130, 0.2);
        width: 100%;
        

        h1{
            color: rgb(9, 65, 9);
        }
    }
}