
.parrafo-principal {
    padding: 20px 100px 0px 20px;
}

.img-principal {
    border-radius: 70%;
}

.carousel-inner{
    background: -webkit-linear-gradient(left, #82aa13, #c7d496);
    padding: 50px 200px;

    .carousel-caption {
    position:static;
    padding: 15px;
    background-color: #3f520d;
    }
    
    .parrafo-carousel {
    color: white;
    }

}




// .card-galeria{
//     background: -webkit-linear-gradient(left, #82aa13, #c7d496);
//     margin: 30px;
//     padding: 30px;
// }

// #card-destacados{
//     border-radius: 0%;
// }

.card-group{
margin: 20px 50px;

    .card{
    margin: 0px 50px 20px;

       .card-body{
        background: -webkit-linear-gradient(left, #82aa13, #c7d496);
} 
    }
}

