
.parrafo-principal {
    padding: 20px 100px 0px 20px;
}

.img-principal {
    border-radius: 70%;
}

#carousel-section{
    padding: 20px 200px;
}

.parrafo-carousel {
    color: white;
    padding-top: 40px;
}

.card-galeria{
    background: -webkit-linear-gradient(left, #82aa13, #c7d496);
    margin: 30px;
    padding: 30px;
}

#card-destacados{
    border-radius: 0%;
}

.card-group{
margin: 20px 50px;

    .card{
    margin: 0px 50px 20px;

       .card-body{
        background: -webkit-linear-gradient(left, #82aa13, #c7d496);
} 
    }
}

