header {
  height: 120px;
  justify-content: space-around;
  align-items: center;
  background: -webkit-linear-gradient(left, #82aa13, #c7d496);
}

.flex {
    display: flex;
}

.logo {
  width: 80px;
}

.header-navbar {
  width: 60%;
}

.header-lista {
  justify-content: space-around;
  list-style: none;
  font-weight: 500;
  font-size: 22px;
}

li a {
  color: white;
}

a:hover {
  background-color: #82aa13;
  border-style: outset;
  border-width: 6px;
}

.hamburguesa {
  display: none;
  visibility: hidden;
}

.header-contactanos {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  width: 20%;
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 12px;
}

.header-contactanos:hover {
  background-color: #9dc92598;
  border-style: outset;
}

footer {
  height: 200px;
  background: -webkit-linear-gradient(left, #82aa13, #c7d496);
}

.container-footer {
  padding: 30px 100px 0px;
}

.logo-footer {
  width: 108px;
  height: 25px;
}

.seccion-1Footer {
  margin-right: 125px;
  display: flex;
  flex-direction: column;
  width: 154px;
  justify-content: space-between;
}

.redes {
  display: flex;
  justify-content: space-between;
}

.navbar-footer {
  width: 392px;
  margin-right: 157px;
  display: flex;
  justify-content: space-between;
}

.navbar1 {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

div a {
  padding: 0.5rem;
  color: white;
}

input {
  border: none;
  width: 201px;
  height: 44px;
  border-radius: 50px;
}

.button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 40px;
}

.button:hover {
  background-color: rgba(5, 95, 57, 0.712);
  border-style: outset;
}

.copyright {
  padding: 0px 250px 0px 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: -webkit-linear-gradient(left, #82aa13, #c7d496);
  color: #95a89a;
}