
$colorInicio: #82aa13;
$colorFin: #c7d496;
$colorSecunadrio: white;
$colorTitle: rgb(7, 75, 7);



// @mixin degradado-lineal($colorInicio, $colorFin ) {
//     @include background(linear-gradient(color-stops($colorInicio,
//                 $colorFin )));
//     @include filter-gradient($colorInicio, $colorFin );
// }